args==0.1.0
attrs==19.3.0
certifi==2022.12.7
chardet==3.0.4
click==7.1.2
click-plugins==1.1.1
cligj==0.5.0
clint==0.5.1
Fiona==1.8.13.post1
Flask==1.1.1
geopandas==0.6.0
gunicorn==20.0.4
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==0.13.2
languageflow==1.1.13a1
MarkupSafe==1.1.1
munch==2.5.0
nltk==3.4.5
numpy==1.18.5
pandas==1.0.5
pyproj==2.6.1.post1
python-crfsuite==0.9.6
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
scikit-learn==0.20.3
scipy==1.5.0
Shapely==1.7.0
six==1.15.0
sklearn==0.0
tabulate==0.8.7
threadpoolctl==2.1.0
tqdm==4.46.1
underthesea==1.1.17
urllib3==1.25.9
Werkzeug==1.0.1
xlrd==1.2.0
